<section class="social section">
    <h2 class="section-title">{{ .Site.Params.titles.social | default "SOCIAL" }}</h2>

    <div class="social__container bd-grid">
        {{ range .Site.Params.social }}
        <a href="{{ .url }}" target="_blank" class="social__link">
            <i class='bx {{ .icon }} social__icon'></i>
            {{ .username }}
        </a>
        {{ else }}
        <!-- Default social links if none configured -->
        <a href="https://www.linkedin.com/" target="_blank" class="social__link">
            <i class='bx bxl-linkedin-square social__icon'></i>
            @smithmat
        </a>
        <a href="https://www.facebook.com/" target="_blank" class="social__link">
            <i class='bx bxl-facebook social__icon'></i>
            @smithmat
        </a>
        <a href="https://www.instagram.com/" target="_blank" class="social__link">
            <i class='bx bxl-instagram social__icon'></i>
            @smithmat
        </a>
        {{ end }}
    </div>
</section>